@define-color bg #1a1d21;
@define-color bg-highlight #22262b;
@define-color blue #b4bcc4;
@define-color fg #f0efeb;
@define-color fg-dark #ccc4b4;
@define-color green #b8c4b8;
@define-color orange @fg-dark;
@define-color red #cdacac;
