@define-color bg #e1e2e7;
@define-color bg-highlight #d0d5e3;
@define-color blue #2e7de9;
@define-color fg #3760bf;
@define-color fg_highlight #6172b0;
@define-color green #587539;
@define-color orange #b15c00;
@define-color red #f52a65;
