@define-color bg #f0efeb;
@define-color bg-highlight #e0dcd4;
@define-color blue #5a6b7a;
@define-color fg #1a1d21;
@define-color fg_highlight #4a4d51;
@define-color green #5a6b5a;
@define-color orange #7a6d5a;
@define-color red #8b6666;
