@import "./colors.css";

* {
    border: none;
    font-size: 10px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    /*height: 10px;*/
    color: @fg;
    padding: 0;
    font-size: 12px;
}


window#waybar {
  background: @bg;
 }

/* #custom-logo { */
/*   padding: 0 10px; */
/* } */

/*.modules-right {*/
/*  padding-left: 5px;*/
/*  border-radius: 15px 0 0 15px;*/
/*  margin-top: 2px;*/
/*}*/

/*.modules-center {*/
/*  padding: 0 15px;*/
/*  margin-top: 2px;*/
/*  border-radius: 15px 15px 15px 15px;*/
/*  background: #000000;*/
/*}*/

/*.modules-left {*/
/*  border-radius: 0 15px 15px 0;*/
/*  margin-top: 2px;*/
/*}*/

#workspaces button {
  padding: 5px 10px;
}

/* #workspaces button label{ */
/*   font-size: 12px; */
/* } */

/*#workspaces button.active {*/
/*}*/
/*#workspaces{*/
/*}*/
/*#workspaces button.empty{*/
/*}*/
/*#workspaces button.persistent{*/
/*}*/
/*#workspaces button.special{*/
/*}*/
#workspaces button.visible{
  background: @blue;
}
#workspaces button.urgent{
  background: @red;
}
#workspaces button.visible label,
#workspaces button.urgent label{
    color: @bg;
}

#custom-logo,
#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#pulseaudio {
  padding-top: 4px;
}

#pulseaudio.muted {
  padding-top: 0;
  color: @red ;
}
#temperature.critical{
  padding-top: 0;
  color: @red ;
}

/*#clock{*/
/*  color: #5fd1fa;*/
/*}*/

#battery.charging {
    color: @bg;
    background-color: @green;
}

#battery.warning:not(.charging) {
  color: @bg;
    background-color: @orange;
}

#battery.critical:not(.charging) {
  color: @fg;
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#taskbar {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}
