[user]
	email = change_later@example.com
	name = Gustavo
; [diff]
; 	tool = kitty
; [difftool]
; 	prompt = false
; 	trustExitCode = true
; [difftool "kitty"]
; 	cmd = kitten diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
