btop/.config/btop/btop.log
neovim/.config/nvim/spell/es.utf-8.spl
neovim/.config/nvim/spell/pt.utf-8.spl
neovim/.config/nvim/spell/pt.utf-8.add.spl
neovim/.config/nvim/spell/es.utf-8.sug
neovim/.config/nvim/spell/es.utf-8.add.spl
neovim/.config/nvim/spell/en.utf-8.add.spl
tmux/.config/tmux/plugins/vim-tmux-navigator
tmux/.config/tmux/plugins/tmux-sessionx/
tmux/.config/tmux/plugins/tpm
neovim/.config/lvim/lazy-lock.json
neovim/.config/nvim/lazy-lock.json
neovim/.config/nvim/lazy-lock.json
Neovim/.config/nvim/lazy-lock.json
Neovim/.config/lvim/lazy-lock.json
/Tmux/.config/tmux/plugins
