@define-color rosewater  #c0caf5;
@define-color rosewater-rgb  rgb(192, 202, 245);
@define-color flamingo  #bb9af7;
@define-color flamingo-rgb  rgb(187, 154, 247);
@define-color pink  #ff007c;
@define-color pink-rgb  rgb(255, 0, 124);
@define-color mauve  #9d7cd8;
@define-color mauve-rgb  rgb(157, 124, 216);
@define-color red  #f7768e;
@define-color red-rgb  rgb(247, 118, 142);
@define-color maroon  #db4b4b;
@define-color maroon-rgb  rgb(219, 75, 75);
@define-color peach  #ff9e64;
@define-color peach-rgb  rgb(255, 158, 100);
@define-color yellow  #e0af68;
@define-color yellow-rgb  rgb(224, 175, 104);
@define-color green  #9ece6a;
@define-color green-rgb  rgb(158, 206, 106);
@define-color teal  #1abc9c;
@define-color teal-rgb  rgb(26, 188, 156);
@define-color sky  #7dcfff;
@define-color sky-rgb  rgb(125, 207, 255);
@define-color sapphire  #0db9d7;
@define-color sapphire-rgb  rgb(13, 185, 215);
@define-color blue  #7aa2f7;
@define-color blue-rgb  rgb(122, 162, 247);
@define-color lavender  #a9b1d6;
@define-color lavender-rgb  rgb(169, 177, 214);
@define-color <ScrollWheelDown>ext  #c0caf5;
@define-color text-rgb  rgb(192, 202, 245);
@define-color subtext1  #a9b1d6;
@define-color subtext1-rgb  rgb(169, 177, 214);
@define-color subtext0  #737aa2;
@define-color subtext0-rgb  rgb(115, 122, 162);
@define-color overlay2  #565f89;
@define-color overlay2-rgb  rgb(86, 95, 137);
@define-color overlay1  #545c7e;
@define-color overlay1-rgb  rgb(84, 92, 126);
@define-color overlay0  #414868;
@define-color overlay0-rgb  rgb(65, 72, 104);
@define-color surface2  #3b4261;
@define-color surface2-rgb  rgb(59, 66, 97);
@define-color surface1  #292e42;
@define-color surface1-rgb  rgb(41, 46, 66);
@define-color surface0  #1a1b26;
@define-color surface0-rgb  rgb(26, 27, 38);
@define-color base  #1a1b26;
@define-color base-rgb  rgb(26, 27, 38);
@define-color mantle  #16161e;
@define-color mantle-rgb  rgb(22, 22, 30);
@define-color crust  #0c0e14;
@define-color crust-rgb  rgb(12, 14, 20);

* {
  font-family: 'Jetbrains mono nerd font', sans-serif;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  /* border: 0.16em solid @lavender; */
  border-radius: 0.1em;
  background-color: @base;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
    background-color: @surface1;
}

#entry:selected #text {
  color: @blue;
}

#entry:drop(active) {
  background-color: @lavender!important;
}
